mixin ppi(dat, percent)
	.grayLighter-background.align-left
		if dat.Url != ""
			a.external-link(href=dat.Url, target='_self')
				img.image-left(height=percent, src='https://ideai.upc.edu/en/shared/pap/#{dat.Id}.png', width=percent, title=dat.Title, alt=dat.Title)
			h4.category-subtitle
				a.external-link(href=dat.Url, target='_self') #{dat.Title}
		else
			img.image-left(height=percent, src='https://ideai.upc.edu/en/shared/pap/#{dat.Id}.png', width=percent, title=dat.Title, alt=dat.Title)
			h4.category-subtitle #{dat.Title}
		p
			em
				each author in dat.PAuthors
					u= author
				each author in dat.SAuthors
					span= author
			
		p #{dat.Summary}
		p
			each collab, idx in dat.Collaborators
				span= collab
				if idx != dat.length-1
					&emsp;
