mixin ppi(dat, percent, ppID)
	.grayLighter-background.align-left
		
		script.
			function handleMissingImage(id) {
				var image = document.getElementById(id);
				image.src = "https://ideai.upc.edu/en/shared/pap/default.png"
			}
		
		if dat.Url != ""
			a.external-link(href=dat.Url, target='_self')
				img.image-left(id="img"+ppID, onerror="handleMissingImage(this.id);", height=percent, src='https://ideai.upc.edu/en/shared/pap/#{dat.Id}.png', width=percent, title=dat.Title, alt=dat.Title)
			h4.category-subtitle
				a.external-link(href=dat.Url, target='_self') #{dat.Title}
		else
			img.image-left(id="img"+ppID, onerror="handleMissingImage(this.id);", height=percent, src='https://ideai.upc.edu/en/shared/pap/#{dat.Id}.png', width=percent, title=dat.Title, alt=dat.Title)
			h4.category-subtitle #{dat.Title}
		p
			em
				each author in dat.PAuthors
					u= author 
					|&ensp;
				each author in dat.SAuthors
					span= author
			
		p #{dat.Summary}
		p
			each collab, idx in dat.Collaborators
				span= collab
				if idx != dat.Collaborators.length-1
					|&emsp;
		p #{dat.PArea}
		if (dat.EndYear - (new Date().getFullYear())) >= 0
			p Alive
				
