mixin ppi(dat, authors, collabs)
	.grayLighter-background.align-left
		a.external-link(href=dat.Url, target='_self')
			img.image-left(height='15%', src='https://ideai.upc.edu/en/shared/pap/#{dat.Id}.png', width='15%', title=dat.Title, alt=dat.Title)
		h4.category-subtitle #{dat.Title}
		p
			em
				each author in dat.PAuthors
					u= author
				each author in dat.SAuthors
					span= author
			
		p #{dat.Summary}
		p
			each collab, idx in dat.Collaborators
				span= collab
				if idx != dat.length-1
					&emsp;

