mixin ppi(dat, percent, ppID, areaRoute)
	div.grayLighter-background.align-left.inlineDiv
		
		- var imgUrl = "https://ideai.upc.edu/en/shared/pap/" + dat.Id + ".png"
		if dat.Id != ""
			if dat.Url != ""
				a.external-link(href=dat.Url, target='_self')
					img.image-left(id="img"+ppID, onerror="handleMissingImage(this.id);", height=percent, src=imgUrl, width=percent, title=dat.Title, alt=dat.Title)
				h4.category-subtitle
					a.external-link(href=dat.Url, target='_self') #{dat.Title}
			else
				img.image-left(id="img"+ppID, onerror="handleMissingImage(this.id);", height=percent, src=imgUrl , width=percent, title=dat.Title, alt=dat.Title)
				h4.category-subtitle #{dat.Title}
		else
			- var imgUrl = "https://ideai.upc.edu/en/shared/pap/default.png"
			img.image-left(id="img"+ppID, onerror="handleMissingImage(this.id);", height=percent, src=imgUrl , width=percent, title=dat.Title, alt=dat.Title)
			h4.category-subtitle #{dat.Title}
		p
			em
				each author in dat.PAuthors
					u= author 
					|&ensp;
				each author in dat.SAuthors
					span= author
		
		if dat.Summary.length > 240
			- var small_summary = dat.Summary.substring(0,240) + "... "
			p(id="summary"+ppID) #{small_summary}
				a(id=ppID, title="Show more", href="#", onclick="showMoreSummary(this.id);return false;") [show more]
			p(id="fullsummary"+ppID, hidden) #{dat.Summary}
				a(id=ppID, title="Show less", href="#", onclick="showLessSummary(this.id);return false;") [show less]
		else
			p(id="fullsummary"+ppID) #{dat.Summary}
		
		p
			each collab, idx in dat.Collaborators
				span= collab
				if idx < dat.Collaborators.length-1
					|&emsp;
					
		div.divBottomPPI
			- var areaUrl = "https://ideai.upc.edu/en/areas/"+areaRoute		
			if (dat.EndYear - (new Date().getFullYear())) >= 0
				img.imgBottomPPI(alt="Alive", height="25px", src="https://ideai.upc.edu/en/shared/pap/areas_icons/alive.png", title="Alive")
			else
				img.imgBottomPPI(alt="Finished", height="25px", src="https://ideai.upc.edu/en/shared/pap/areas_icons/finished.png", title="Finished")
			a.external-link(href=areaUrl, target="_self")
				img.imgBottomPPI(alt=areaRoute,height="25px", src="https://ideai.upc.edu/en/shared/pap/areas_icons/"+areaRoute+".png", title=areaRoute)
			
				
